@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Audiowide';
    src: url('../../static/font/Audiowide-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }