
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/output.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-64 bg-gray-800 text-white">Sidebar</div>
      
        <div class="flex-1 flex flex-col">
          <!-- Topbar -->
          <div class="h-16 bg-blue-600 text-white">Topbar</div>
      
          <!-- Main Content -->
          <div class="flex-1 bg-gray-100 p-4">Container</div>
        </div>
      </div>
</body>
</html>  